@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 33% 97%;
    --foreground: 195 10% 20%;

    --card: 0 0% 100%;
    --card-foreground: 195 10% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 195 10% 20%;

    --primary: 160 100% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 207 70% 53%;
    --secondary-foreground: 0 0% 100%;

    --muted: 225 33% 97%;
    --muted-foreground: 206 7% 39%;

    --accent: 225 33% 93%;
    --accent-foreground: 195 10% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --emphasis: 21 78% 53%;
    --emphasis-foreground: 0 0% 100%;

    --border: 212 43% 93%;
    --input: 212 43% 93%;
    --ring: 160 100% 35%;

    --radius: 0.5rem;

    --chart-1: 160 100% 35%;
    --chart-2: 207 70% 53%;
    --chart-3: 21 78% 53%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --app-background: 213 20% 7%;

    --sidebar-background: 0 0% 0%;
    --sidebar-foreground: 212 43% 93%;
    --sidebar-border: 214 12% 20%;
    --sidebar-accent: 213 20% 15%;
    --sidebar-accent-foreground: 212 43% 93%;
    --sidebar-primary: 160 100% 35%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-ring: 160 100% 35%;
  }

  .dark {
    --background: 213 20% 7%;
    --foreground: 212 43% 93%;

    --card: 213 20% 11%;
    --card-foreground: 212 43% 93%;

    --popover: 213 20% 11%;
    --popover-foreground: 212 43% 93%;

    --primary: 160 100% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 207 70% 53%;
    --secondary-foreground: 0 0% 100%;

    --muted: 213 20% 15%;
    --muted-foreground: 212 15% 65%;

    --accent: 213 20% 15%;
    --accent-foreground: 212 43% 93%;

    --destructive: 0 72% 41%;
    --destructive-foreground: 0 0% 98%;

    --emphasis: 21 78% 53%;
    --emphasis-foreground: 0 0% 100%;

    --border: 214 12% 20%;
    --input: 214 12% 20%;
    --ring: 160 100% 35%;

    --chart-1: 160 100% 35%;
    --chart-2: 207 70% 53%;
    --chart-3: 21 78% 53%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --app-background: 213 20% 7%;

    --sidebar-background: 0 0% 0%;
    --sidebar-foreground: 212 43% 93%;
    --sidebar-border: 214 12% 20%;
    --sidebar-accent: 213 20% 15%;
    --sidebar-accent-foreground: 212 43% 93%;
    --sidebar-primary: 160 100% 35%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-ring: 160 100% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
